/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

/* Hide panel level error as duplicated the field level error */
.jp-cropmstudio-widget .form-container .panel.errors {
  display: none;
}

.jp-cropmstudio-widget .jp-cropmstudio-container {
  display: flex;
  height: 100%;
}

.jp-cropmstudio-widget .menu-panel {
  width: 220px;
  border-right: 1px solid var(--jp-layout-color1);
  padding: 12px;
  box-sizing: border-box;
}

.jp-cropmstudio-widget .menu-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.jp-cropmstudio-widget .menu-tooltip {
  margin-top: 18px;
  color: var(--jp-ui-font-color2);
  font-size: 12px;
}

.jp-cropmstudio-widget .form-panel {
  flex: 1;
  padding: 12px;
  box-sizing: border-box;
  overflow: auto;
}

.jp-cropmstudio-widget .form-container {
  padding: 12px;
}

.jp-cropmstudio-widget .form-buttons {
  margin-top: 6px;
  padding-top: 6px;
  border-top: solid 1px var(--jp-border-color2);
}

.jp-cropmstudio-widget .form-buttons .jp-Button:not(:first-child) {
  margin-left: 20px;
}

.jp-cropmstudio-widget .form-placeholder {
  padding: 8px;
  color: var(--jp-ui-font-color2);
}

.jp-cropmstudio-widget .form-buttons .navigate-back svg {
  transform: rotate(90deg);
}

.jp-objectFieldWrapper legend {
  font-size: var(--jp-content-font-size2);
  color: var(--jp-ui-font-color0);
  flex-basis: 100%;
  padding: 4px 0;
  font-weight: var(--jp-content-heading-font-weight);
  border-bottom: 1px solid var(--jp-border-color2);
}
